@import 'bootstrap.css'
@import 'animate.css'

@import 'vars.styl'

@import 'base.styl'

// Mobile Firts
@import 'phone.styl'

//@media (min-width 768px) and (max-width 991px)
@media (min-width 768px)
	@import 'tablet.styl'

//@media (min-width 992px) and (max-width 1199px)
@media (min-width 992px)
	@import 'desktop-mini.styl'

@media (min-width 1200px)
	@import 'desktop-large.styl'