/*-- Body --*/

.contenedor-body
	
	.body-contenido
		
		.contenido
			padding-left 0
			padding-right 30px
			
			.contenido-titulo
				padding-top 0
			

// Estilos para Login y Register
#login,
#register,
#forgot
	
	#login-form
		.form-base			
			.box-1
				position absolute
				left 0
				
			.box-2
				position absolute
				right 0
				top 5px
