// Fonts
lato = 'Lato', sans-serif;

// Colors
aqua-green = #14d593
dark-blue-grey = #1e3654
pale-grey = #e8eaee
grapefruit = #ff6356
black = #252525
steel = #788698
silver = #bbc2cb

border-radius()
	-webkit-border-radius: arguments arguments arguments arguments !important;
	border-radius: arguments arguments arguments arguments !important;
	
transition()
	-webkit-transition: arguments;
	-moz-transition: arguments;
	-ms-transition: arguments;
	-o-transition: arguments;
	transition: arguments;
	
box-shadow()
	-webkit-box-shadow: arguments;
	box-shadow: arguments;

box-sizing()	
	-moz-box-sizing: arguments;
	-webkit-box-sizing: arguments;
	box-sizing: arguments;
	
appearance()
	-webkit-appearance: arguments;
	-moz-appearance: arguments;
	appearance: arguments;