<html>
<head>
	<title>Guide Styles - Dynno.education</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body class="body-font">

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>[h1] El veloz murciélago hindú comía feliz cardillo y kiwi</h1>
			<h2>[h2] El veloz murciélago hindú comía feliz cardillo y kiwi</h2>
			<h3>[h3] El veloz murciélago hindú comía feliz cardillo y kiwi</h3>
			<h4>[h4] El veloz murciélago hindú comía feliz cardillo y kiwi</h4>
		</div>
		<div class="col-xs-12">
			<h1 class="h-bold">[h1.h-bold] El veloz murciélago hindú comía feliz cardillo y kiwi</h1>
			<h2 class="h-bold">[h2.h-bold] El veloz murciélago hindú comía feliz cardillo y kiwi</h2>
			<h3 class="h-bold">[h3.h-bold] El veloz murciélago hindú comía feliz cardillo y kiwi</h3>
			<h4 class="h-bold">[h4.h-bold] El veloz murciélago hindú comía feliz cardillo y kiwi</h4>
		</div>
		<div class="col-xs-12">
			<h1 class="h-baymax">[h1.h-baymax] El veloz murciélago hindú comía feliz cardillo y kiwi</h1>
			<h2 class="h-hiro">[h2.h-hiro] El veloz murciélago hindú comía feliz cardillo y kiwi</h2>
			<h3 class="h-tadashi">[h3.h-tadashi] El veloz murciélago hindú comía feliz cardillo y kiwi</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<p>[p] <a href="#2">Hello</a> Sed ornare facilisis scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras eget lorem finibus, pharetra felis id, auctor augue. Phasellus a diam venenatis justo suscipit pharetra ac in sapien. Mauris fermentum varius purus ut varius. Mauris ullamcorper, metus a ornare placerat, nibh enim tincidunt nibh, in fermentum neque nunc at purus. [/p]</p>
			<p>[p] Proin eu finibus elit. Suspendisse faucibus est et diam tempus consectetur. Pellentesque pretium eu libero sed aliquam. Morbi nulla purus, aliquet eu egestas ac, ullamcorper sit amet justo. Integer eu dapibus ligula, id fermentum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nunc volutpat erat vitae convallis ultricies. Proin quis congue nibh. Nam bibendum diam a turpis euismod, vel aliquet ex convallis. Donec nec malesuada nisi. Aliquam pulvinar ipsum sem, ut iaculis diam consectetur eu. Vestibulum pellentesque sodales quam, non ullamcorper urna tempus tincidunt. Pellentesque imperdiet consequat sem. [/p]</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<p>[p] Sed ornare facilisis scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras eget lorem finibus, pharetra felis id, auctor augue. Phasellus a diam venenatis justo suscipit pharetra ac in sapien. Mauris fermentum varius purus ut varius. Mauris ullamcorper, metus a ornare placerat, nibh enim tincidunt nibh, in fermentum neque nunc at purus. [/p]</p>
			<p>[p] Proin eu finibus elit. Suspendisse faucibus est et diam tempus consectetur. Pellentesque pretium eu libero sed aliquam. Morbi nulla purus, aliquet eu egestas ac, ullamcorper sit amet justo. Integer eu dapibus ligula, id fermentum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nunc volutpat erat vitae convallis ultricies. Proin quis congue nibh. Nam bibendum diam a turpis euismod, vel aliquet ex convallis. Donec nec malesuada nisi. Aliquam pulvinar ipsum sem, ut iaculis diam consectetur eu. Vestibulum pellentesque sodales quam, non ullamcorper urna tempus tincidunt. Pellentesque imperdiet consequat sem. [/p]</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<img src="https://placeholdit.imgix.net/~text?txtsize=23&txt=250%C3%97250&w=250&h=250" alt="Title image" class="img-responsive img-circle center-block">
		</div>
		<div class="col-xs-12 col-md-3">
			<img src="https://placeholdit.imgix.net/~text?txtsize=23&txt=250%C3%97250&w=250&h=250" alt="Title image" class="img-responsive img-circle-stroke center-block">
		</div>
		<div class="col-xs-12 col-md-3">
			<img src="https://placeholdit.imgix.net/~text?txtsize=23&txt=250%C3%97250&w=250&h=250" alt="Title image" class="img-responsive img-rounded center-block">
		</div>
		<div class="col-xs-12 col-md-3">
			<img src="https://placeholdit.imgix.net/~text?txtsize=23&txt=250%C3%97250&w=250&h=250" alt="Title image" class="img-responsive center-block">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<input type="submit" class="cta cta-small" value="Registrate como educador">
			<input type="submit" class="cta cta-small cta-cancel" value="Cancelar suscripción">
			<input type="submit" class="cta cta-small cta-disabled" value="Comprar actividad" disabled>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<input type="submit" class="cta cta-medium" value="Registrate como educador">
			<input type="submit" class="cta cta-medium cta-cancel" value="Cancelar suscripción">
			<input type="submit" class="cta cta-medium cta-disabled" value="Comprar actividad" disabled>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<input type="submit" class="cta cta-large" value="Registrate como educador">
			<input type="submit" class="cta cta-large cta-cancel" value="Cancelar suscripción">
			<input type="submit" class="cta cta-large cta-disabled" value="Comprar actividad" disabled>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-4">
			<form data-toggle="validator" role="form">

				<div class="form-group">
					<label class="label-input">Nombre</label>
					<div class="input-wrapper">
						<input type="text" class="input-control" placeholder="ej. Alan Kimo Alvarado" required>
						<span class="ico-validate fa form-control-feedback" aria-hidden="true"></span>
					</div>
					<span class="help-block with-errors input-tooltip">Ingresa tu Nombre</span>
				</div>

				<div class="form-group">
					<label class="label-input">Edad</label>
					<div class="input-wrapper">
						<input type="number" class="input-control" placeholder="ej. 10" required>
						<span class="ico-validate fa form-control-feedback" aria-hidden="true"></span>
					</div>
					<span class="help-block with-errors input-tooltip">Ingresa tu Edad</span>
				</div>

				<div class="form-group">
					<label class="label-input">Usuario</label>
					<div class="input-wrapper">
						<i class="ico-input fa fa-user"></i>
						<input type="text" class="input-control input-with-icon" pattern="^[_A-z0-9]{1,}$" placeholder="ej. Alan Kimo Alvarado" required>
						<span class="ico-validate fa form-control-feedback" aria-hidden="true"></span>
					</div>
					<span class="help-block with-errors input-tooltip">Ingresa tu usuario. Este no puedo contener espacio o carácteres especiales.</span>
				</div>

				<div class="form-group">
					<label class="label-input">Email</label>
					<div class="input-wrapper">
						<i class="ico-input fa fa-envelope"></i>
						<input type="email" class="input-control input-with-icon" placeholder="ej. alan@iceberg9.com" required>
						<span class="ico-validate fa form-control-feedback" aria-hidden="true"></span>
					</div>
					<span class="help-block with-errors input-tooltip">Ingresa tu Email</span>
				</div>

				<div class="form-group">
					<label class="label-input">País</label>
					<div class="input-wrapper">
						<i class="ico-input fa fa-globe"></i>
						<select class="input-control input-with-icon" required>
							<option value="" disabled selected>Selecciona</option>
							<option value="México">México</option>
							<option value="Colombia">Guatemala</option>
							<option value="EE.UU">EE.UU</option>
						</select>
						<span class="ico-validate fa form-control-feedback" aria-hidden="true"></span>
					</div>
					<span class="help-block with-errors input-tooltip">Ingresa tu País</span>
				</div>

				<div class="form-group">
					<label class="label-input label-input-check-radio">Especialidad</label>
					<span class="help-block with-errors input-tooltip input-tooltip-check-radio">Elige tu especialidad.</span>
					<div class="input-wrapper-check-radio">
						<input type="radio" id="radio01" name="especialidad" value="Ciencias sociales" required>
						<label for="radio01"></label>
						<span>Ciencias sociales</span>
					</div>
					<div class="input-wrapper-check-radio">
						<input type="radio" id="radio02" name="especialidad" value="Ciencias exactas" required>
						<label for="radio02"></label>
						<span>Ciencias exactas</span>
					</div>
					<div class="input-wrapper-check-radio">
						<input type="radio" id="radio03" name="especialidad" value="Ciencias naturales" required>
						<label for="radio03"></label>
						<span>Ciencias naturales</span>
					</div>
				</div>

				<div class="form-group">
					<label class="label-input label-input-check-radio">Activar notificaciones</label>
					<span class="help-block with-errors input-tooltip input-tooltip-check-radio">¿Quieres recibir notificaciones vía mail?</span>
					<div class="input-wrapper-check-radio">
						<input type="checkbox" id="check01" name="notificacion" value="1">
						<label for="check01"></label>
						<span>Si, quiero recibir notificaciones.</span>
					</div>
				</div>

				<div class="form-group">
					<label class="label-input label-input-check-radio">Radio/Checkbox Disabled</label>
					<span class="help-block with-errors input-tooltip input-tooltip-check-radio">Estos campos estan desactivados</span>
					<div class="input-wrapper-check-radio">
						<input type="checkbox" id="check-disabled-01" name="desactivado-check" value="0" disabled>
						<label for="check-disabled-01"></label>
						<span>Checkbox disabled</span>
					</div>
					<div class="input-wrapper-check-radio">
						<input type="checkbox" id="check-disabled-02" name="desactivado-check" value="1" checked disabled>
						<label for="check-disabled-02"></label>
						<span>Checkbox check disabled</span>
					</div>
					<div class="input-wrapper-check-radio">
						<input type="radio" id="radio-disabled-01" name="desactivado-radio" value="0" disabled>
						<label for="radio-disabled-01"></label>
						<span>Radio disabled</span>
					</div>
					<div class="input-wrapper-check-radio">
						<input type="radio" id="radio-disabled-02" name="desactivado-radio" value="1" checked disabled>
						<label for="radio-disabled-02"></label>
						<span>Radio check disabled</span>
					</div>
				</div>

				<div class="form-group">
					<label class="label-input">Mensaje</label>
					<div class="input-wrapper">
						<textarea class="input-control" required></textarea>
						<span class="ico-validate fa form-control-feedback" aria-hidden="true"></span>
					</div>
					<span class="help-block with-errors input-tooltip">Escribe tu mensaje</span>
				</div>

				<div class="form-group">
					<label class="label-input">Identificador</label>
					<div class="input-wrapper">
						<input type="text" class="input-control input-disabled" placeholder="No puedes escribir aquí" value="2098872822" disabled required>
						<span class="ico-validate fa form-control-feedback" aria-hidden="true"></span>
					</div>
					<span class="help-block with-errors input-tooltip">Este campo esta bloqueado</span>
				</div>
				<div class="form-group">
					<button type="submit" class="cta cta-small">Registrate como educador</button>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-4" style="text-align: center; margin: 15px 0;">
			
		</div>
	</div>
</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/validator.js"></script>
</body>
</html>